html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.slider{
	display:block;
	margin:0px auto;
	--range-slider:          #d7dada; /* slider main background color */
	--range-handle-inactive: #ffc7c7; /* inactive handle color */
	--range-handle:          #ffc7c7; /* non-focussed handle color */
	--range-handle-focus:    #ff6f6f; /* focussed handle color */
	--range-handle-border:   var(--range-handle-focus);
	--range-range-inactive:  var(--range-handle-inactive); /* inactive range bar background color */
	--range-range:           var(--range-handle); /* active range bar background color */
	--range-float-inactive:  #ff6f6f; /* inactive floating label background color */
	--range-float:           #ff6f6f; /* floating label background color */
	--range-float-text:      rgb(255, 255, 255); /* text color on floating label */
}
.bg{
	background-image:url('./background.png');
	height:100vh;
	background-size:cover;
	background-color: #ff6f6f;
}
.search_bg{
	background-image:url('./search_bg.jpg');
	height:100vh;
	background-size:cover;
	background-color: #ff6f6f;
}