@import 'bulma/sass/utilities/mixins';

@font-face {
    font-family : '고딕';
    src : url("/NanumSquare.ttf")
}

section {
    text-align: center;
    overflow: hidden;
    height: 100%;
    /* margin: auto; */
}

.logo{
    position: relative;
    
    margin-top: auto;
    @include widescreen{
        top:195px;
    }

    @include mobile{
        top:120px;
    }
    
}

.img{
    @include widescreen{
        object-fit: fit;
        width: 20%;
        height: 20%;
    }
    
    @include mobile{

        object-fit: fit;
        width: 55%;
        height: 55%;
    }

}

.bg{
        
        background-image:url('/background.png');
		background-size:cover;
		background-color: #0000f6;
		// height:100vh;
}

.slider {
    @include widescreen {
        width: 800px;
        align-content: center;
        padding: 1em;
}
    @include mobile{
        width: auto;
        align-content: center;
        padding: 1em;
    }
    
}
.title {
    font-family: '고딕';
    
    @include widescreen{
        padding-top: 7em;
        margin-top: 30px;
        font-size: 36pt;
    }

    @include mobile{
        margin-top: 30px;
        font-size: 20pt;
        padding-top: 5em;
    }

    
    
}