@import 'bulma/sass/utilities/mixins';

@font-face {
    font-family : '고딕';
    src : url("/hanna.ttf")
}

section {
    text-align: center;
    overflow: hidden;
    height: 100%;
    //margin: auto;
}

.logo{
    position: relative;
    margin-top: auto;

    @include widescreen{
        top:160px;
    }
    @include desktop-only{
        top:150px;
    }
    @include tablet-only{
        top:140px;
    }
    @include mobile{
        top:120px;
    }   
}

.img{
    @include widescreen{
        object-fit: fit;
        width: 28%;
        height: 28%;
    }
    @include desktop-only{
        object-fit: fit;
        width: 35%;
        height: 35%;
    }
    @include tablet-only{
        object-fit: fit;
        width: 45%;
        height: 45%;
    }
    @include mobile{
        object-fit: fit;
        width: 55%;
        height: 55%;
    }
}

.bg{
    background-image:url('/background.png');
	background-size:cover;
	background-color: #0000f6;
	// height:100vh;
}

.slider {
    @include widescreen{
        width: auto;
        align-content: center;
        padding: 2em 15em 0.2em 15em
    }
    @include desktop-only{
        width: auto;
        align-content: center;
        padding: 3em;
    }
    @include tablet-only{
        width: auto;
        align-content: center;
        padding: 3em;
    }
    @include mobile{
        width: auto;
        align-content: center;
        padding: 2em;
    }
}

.title {
    font-family: '고딕';
    
    @include widescreen{
        padding-top: 4em;
        margin-top: 30px;
        font-size: 36pt;
    }
    @include desktop-only{
        padding-top: 5em;
        margin-top: 30px;
        font-size: 30pt;
    }
    @include tablet-only{
        padding-top: 5em;
        margin-top: 30px;
        font-size: 25pt;
    }
    @include mobile{
        margin-top: 30px;
        font-size: 20pt;
        padding-top: 5em;
    }
}