@import 'bulma/sass/utilities/mixins';

@font-face {
    font-family : '고딕';
    src : url("/hanna.ttf")
}


.hero-head{
    width: auto;
}

.bg{
        
        background-image:url('/background.png');
		background-size:cover;
		background-color: #0000f6;
		// height:100vh;
}
