@import 'bulma/sass/utilities/mixins';

@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0200-2604,U+2606-D7A3; 
    // 별표만 제외시킴 ( ★ -> U+2605 )
}



section{
    height: 100%;
    overflow: hidden;
}

.hero-head{
    width: auto;
}

.search_bg{
        background-image:url('/background.png');
		background-size:cover;
		background-color: #0000f6;
        background-attachment: fixed;

		// height:100vh;
}

.field{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    @include widescreen{
        padding: 0em 1em 0em 0em;
        align-content: center;
    }
    @include desktop-only{
        padding:1em 10em 0.3em 10em;
        align-content: center;
    }
    @include tablet-only{
        width:auto;
        padding:0em 10em 0em 10em;
        align-content: center;
    }
    @include mobile{
        width:auto;
        height:auto;
        padding:0em 1em 0em 1em;
        align-content: center;
    }
}
.has-icons-left{
    @include widescreen{
        width: 1000px;
    }
    @include desktop-only{
        width: 903px;
    }
    @include tablet-only{
        width: 800px;
    }
    @include mobile{
        width: 700px;
    }
}

.slider{
    @include widescreen{
        width: auto;
        align-content: center;
        padding: 0em 15em 0.2em 15em;
    }
    @include desktop-only{
        width: auto;
        align-content: center;
        padding: 0.5em;
    }
    @include tablet-only{
        width: auto;
        align-content: center;
        padding: 0.5em;
    }
    @include mobile{
        width: auto;
        align-content: center;
        padding: 0.5em;
    }
}

.wordlist{
    font-family: 'BMHANNAAir';
    @include widescreen{
        padding:1em;
    }
    @include desktop-only{
        padding:0.7em;
    }
    @include tablet-only{
        padding:0.4em;
    }
    @include mobile{
        padding:0.1em;
    }
}

.is-radio{
    font-family: 'BMHANNAAir';
    @include widescreen{
        align-content: center;
        margin: 0.5em 1em 0em 15em;
    }
    @include desktop-only{
        align-content: center;
        margin: 0.5em 0em 1em 1em;
    }
    @include tablet-only{
        align-content: center;
        margin: 0.5em;
    }
    @include mobile{
        align-content: center;
        margin: 0.5em;
    }
}

.listOfPlace{
    font-family: 'BMHANNAAir';
    overflow-x:hidden;
    overflow-y:scroll;
    margin-top: 2em;

    @include widescreen{
        width: auto;
        align-content: center;
        padding: 0em 15em 0.2em 15em;
        // margin-right: 15em;
        max-height:25.8em;
    }
    @include desktop-only{
        width: auto;
        align-content: center;
        margin: 0.5em;
        max-height:26.5em;
    }
    @include tablet-only{
        width: auto;
        align-content: center;
        margin: 0.5em;
        max-height:26.3em;
    }
    @include mobile{
        width: auto;
        align-content: center;
        margin: 0.5em;
        max-height:26em;
    }
}
// .m_nmae{
//     font-family: '고딕';
//     @include widescreen{
//         font-size: 36pt;
//     }
//     @include desktop-only{
//         font-size: 30pt;
//     }
//     @include tablet-only{
//         font-size: 25pt;
//     }
//     @include mobile{
//         font-size: 50pt;
//     }
// }
.box:hover{ 
    background-color: #dae4f5;
}

.box{
    float: left;
    align-content:vertical;
    border: 1px solid #aaa;
    width:46.5%;
    min-height: 33%;
    max-height:33%;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    padding: 1em;
    margin: 0 1em 1em 0;
    transition: all 0.4s;
    @include mobile{
        width: 95%;
        height: 30%;
    }
}

img{
    height:85px;
    width:85px;
}
.pic{
    float: left;
    margin-right:1em;
}

.menuInfo{
    width:100%;
    max-height:fit-content;
    margin-left:2em;
}

.listOfPlace::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.listOfPlace::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #6a91bd; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.listOfPlace::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.slider .rangeHandle .rangeNub{
    border: 3px solid rgb(246, 252, 255);
}
